html {
  font-size: 22px;
}

/* from elements don't inherit stuff from parents */
/* so it is common to see 
button, input, textarea, select{
  with a bunch of CSS
}
*/

main{
  font-family: monospace;
}

h1,
h2 {
  color: blue;
}

p {
  color: red;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}
.gray {
  color: gray;
}

#second {
  font-style: italic;
}
