@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: hsl(207, 44%, 49%);
}

a:visited {
  color: hsl(120, 100%, 25%);
}

a:hover,
a:focus {
 color: hsl(189, 44%, 49%) ;
 background: gold;
}

a:active {
  color: pink;
}

/* this is normally set like this "visited, hover and active" */

/* with color you can use "hsl" or "#" or "rgb" */
/* with "hsl" and "rgb" you can also add "a" at the back and this changes the transparency, so the syntax would be "hsla" or "rgba" */